#nextBtnMobile {
    display: none;
    position: absolute;
    right: 16px;
    bottom: 16px;
}

#prevBtnMobile {
    display: none;
    position: absolute;
    top: 16px;
    left: 16px;
}

.turnDevice {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-image: url('../img/background.jpg');
}

.turnDevice span {
    width: 90%;
    text-align: center;
    font-size: 24px;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 30px;
    word-wrap: nowrap;
}

@media only screen and (min-width: 1920px) {
    body {
        background-image: url('../img/backgroundBIG.jpg');
    }
}

@media only screen and (max-height: 850px) {
    #gameTitle {
        display: none;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .turnDevice {
        display: flex;
    }
}

@media only screen and (max-width: 915px) {
    #gameTitle {
        display: none;
    }

    #nextBtnMobile {
        display: block;
    }

    .canvas-container,
    .end-screen,
    .start-screen,
    canvas {
        width: 100% !important;
    }

    .canvas-container {
        border: none !important;
    }

    #charSelection {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    #gameTitle {
        display: none;
    }

    #nextBtnMobile {
        display: block;
    }

    .canvas-container,
    .end-screen,
    .start-screen,
    canvas {
        height: 100vh !important;
    }

    #howToCommandsIngame {
        font-size: 14px;
        display: flex !important;
        flex-wrap: wrap;
    }

    #enterFullscreen {
        display: none;
    }
}

@media only screen and (max-height: 320px) {
    .how-to-play {
        font-size: 14px;
    }
}